beautifulsoup4==4.12.3
bs4==0.0.2
jsonpointer==2.1
setuptools==72.1.0
soupsieve==2.6
wheel==0.43.0
requests
tqdm
cryptography
certifi
cffi
charset-normalizer
idna
packaging
platformdirs
pluggy
pycosat
pycparser
PySocks
ruamel.yaml
truststore
urllib3
zstandard
Flask
Flask-Migrate
Flask-Login
gunicorn
